body{
  font: 15px/1.5 'Poiret One', cursive;
  padding:0;
  margin:0;
  background-color:#f4f4f4


}

/* Global */
.container{
  width:75%;
  margin:auto;
  overflow:hidden;

}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#2F2F2F;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background-color:rgba(144, 12, 63  ,0.80)  ;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
  color:#000000;
}

/* Header **/
header{
  background:#900C3F;
  color:#ffffff;
  padding-top:10px;
  min-height:50px;s
  box-shadow: 1px 1px 5px grey;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;

}

header li{
  float:left;
  display:inline;
  padding: 10px 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#2F2F2F;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}


/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#2F2F2F;
}

#showcase h1{
  margin-top:60px;
  font-size:55px;
  margin-bottom:35px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:6px;
  color:#ffffff;
  background:#900C3F;
	box-shadow: 0px 1px 4px 1px grey;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
	float: left;
  width:55%;
}

/* Services */
ul#events li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:10px;
  margin-top:10px;
  color:#ffffff;
  background-color:#2F2F2F;
  text-align: center;
		box-shadow: 0px 1px 4px 1px grey;

}
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}



/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* NEWSSSS */
ul#news li{
  float: center;
  list-style: none;
  padding:20px;
  border: #cccccc solid 2px;
  margin-bottom:5px;
  background-color: rgb(244, 85, 186, 0.3);
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;

  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

/*HomePage*/
#Home .V1-Img {
  padding: 0.5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#Home .V1-Text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#Home .V1-Text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

#Home .V1-Text button:hover {
  background-color: #555;
  color: white;
}

#VH1 .Heading1Vax {
  padding:15px;
  color:#ffffff;
  background: #cc0099;
}

#VH1 .Vax-text {
  float:center;
}

#V1 .v1-img {
  padding: 0.5%;
  text-align:center;
  display:block;


}

#Home .V2-Img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 300px;
    padding: 0.5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

  #Home .V2-Text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

  #Home .V2-Text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }

  #Home .V2-Text button:hover {
    background-color: #555;
    color: white;
}

#VH2 .Heading2Vax {
  padding:15px;
  color:#ffffff;
  background: #cc0099;
}

#VH2 .Vax-text {
  float:center;
}

#V2 .v2-vid {
  padding: 0.5%;
  text-align:center;
  display:block;

}

#Home .V3-Img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 300px;
  padding: 0.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

#Home .V3-Text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#Home .V3-Text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}


/* NEWSSSS */
  article#main-col2{
    float:left;
    width:100%;
}
.contentTitle
{
width:676px;
height:37px;
margin-top:20px;
margin-left:25px;
margin-right:25px;
background-image:url(tab_back.png);
background-repeat:no-repeat;

}


.contentText
{
width:680px;
padding-left:30px;
padding-right:30px;
font-size:13px;
color:#030712;
line-height:30px;
}

a
{
text-decoration:none;
color:#152413;
}

a:hover
{
color:#597A41;
}
#main .main_left
{
width:458px;
background-image:url(main_top.png);
background-repeat:no-repeat;
text-align:center;
float:left;
}

#main .main_left h1
{
padding-top:20px;
padding-left:40px;
color:#FFFFFF;
font-size:28px;
}

#main .main_left h3
{
padding-bottom:20px;
padding-left:50px;
color:#C9E1FA;
font-size:18px;
}



#main .main_right
{
padding-left:0px;
height:auto;
width:458px;
background-image:url(main_body.png);
background-repeat:repeat-y;
color:#FFFFFF;
padding-bottom:20px;
float:left;
}

#main .main_right h2
{
font:Verdana, Arial, Helvetica, sans-serif;
font-size:24px;
padding-bottom:15px;
}

#main .main_right p
{
line-height:20px;
}

/*QUESTIONS*/
.QUESTIONS {
  width: 80%;
  height:500px;
  margin: auto;

}
.Box label{
  font-size: 13px;
}
.askButton{
  background-color: #555;
  border: none;
  color: white;
  width: 220px;
  height: 40px;
  display: block;
  margin: auto;
 font-size:16px;

}
.askButton:hover{
  background-color: #ddd;
  border: none;
  color: white;
  width: 220px;
  height: 40px;
  display: block;
  margin: auto;
 font-size:16px;

}
#Ques{
  width: 65%;
  float: left;
}
#UrName{
  width: 35%;
  float: left;
}
.SubmitButton{
  background-color: #555;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  float: left;
  font-size:16px;
}
.SubmitButton:hover{
  background-color: #ddd;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  float: left;
  font-size:16px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
   	margin:auto;
   	padding:0;
  	font: 15px/1.5 'Poiret One', cursive;
   	position:relative;
}

.header{
   height:500px;
   opacity:.8;
   background-color:rgb(30, 173, 255);
   background-image:url(gombak.jpg);
   background-size:cover;
   background-position:bottom;
}
.container{
   width:85%;
}
.container h1{
   font-size:50px
}
.about{
   padding:5% 0;
	margin: auto;
   width:90%;
   height:auto;
   background-color:#fff;
}
.about .left{
   padding:2% 0;
   float:left;
   width:50%;
   display:inline-block;
}
.about .right{
   width:50%;
   display:inline-block;
}
.about .right img{
   width:100%
}
.about .left h1{
   text-align:center;
   color:#1EADFF;
   margin:0 0 10px 0;
}
.about .left hr{
   width:20%;
   border-top:2px solid #000;
   border-bottom:none;
}
.about .left p{
  	font: 15px/1.5 'Roboto', sans-serif;
   margin:40px auto;
   width:80%
}

.mission{
   padding:5% 0;
   width:90%;
	margin: auto;
   height:auto;
   background-color:#fff;
}
.mission .right{
   padding:2% 0;
   width:50%;

   display:inline-block;
}
.mission .left{
   float:left;
   width:50%;

   display:inline-block;
}
.mission .left img{
   width:100%;
}
.mission .right h1{
   text-align:center;
   color:#1EADFF;
   margin:0 0 20px 0;
}
.mission .right hr{
   width:35%;
   border-top:2px solid #000;
   border-bottom:none;
}
.mission .right p{
  	font: 15px/1.5 'Roboto', sans-serif;
   margin:40px auto;
   width:80%
}


.team{
   width:90%;
   margin:auto;
   padding:5% 5%;
   over-flow:hidden;
}
.team h1{
   text-align:center;
   color:#1EADFF;

}
.team h1 hr{
   width:15%;
   border-top:2px solid #000;
   background-color:transperant;
   border-bottom:none;
   margin-bottom:50px;
}
.team .card{
   padding-bottom:20px;
   padding-top:20px;
   position:relative;
   min-width:20%;
   height:500px !important;
   height:auto;
   background-color:#fff;
   display:inline-block;
   margin:40px 6.5%;
   box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
   text-align:center;
}
.card .circle-container{
   position:relative;
   background-color:#579f79;
   width:250px;
   height:250px;
   border:none;
   border-radius:50%;
   margin:auto;
   color:#fff;
}
.circle-container h1{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   margin:0;
   font-size:60px;
}

.team .card h2{
   text-align:center;
   margin:30px 0 0 0;
}
.team .card h4{
   text-align:center;
   margin:10px 0 0 0;
}
.team .card p{
   width:250px;
   margin:30px auto;
   text-align:center;

}
.clear{
    clear: both;
}

footer{
   width:100%;
   height:100px;
   background-color:#28587c;
}
footer p{
   text-align:center;
   padding: 0 2% ;
}





1
/* media */
@media(max-width:1200px){
   .mission .right p{
      font-size:.8rem;
      margin:20px auto;
   }
   .about .left p{
      font-size:.8rem;
      margin:20px auto;
   }
}






@media(max-width:992px){
   .about .left{
   width:100%;
}
   .about .right{
   width:100%;
}
      .mission .left{
   width:100%;
}
   .mission .right{
   width:100%;
}
   .team .card{
   width:40%;
}
}

@media(max-width:768px){
      .team .card{
   width:100%;
}

}


section {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main main"
    "event event";
  background-image: url( ../img/children.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  section {
    grid-template-areas:
      "main event"
      "main event";
  }
}

.leftBox {
  grid-area: main;
  padding: 50px;
  box-sizing: border-box;
}

section .leftBox .content {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  transition: 0.5s;
}

section .leftBox .content:hover {
  background-color: #e91e63;
}

section .leftBox .content h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
}

section .leftBox .content p {
  margin: 10px 0 0;
  padding: 0;
}

section .events {
  grid-area: event;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

section .events ul {
  margin: 0;
  padding: 40px;
  list-style: none;
}

section .events ul li {
  background-color: #fff;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  grid-template-areas:
    "time time"
    "detail detail";
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  section .events ul li {
    grid-template-areas:
      "time detail"
      "time detail";
  }
}

section .events ul li .time {
  grid-area: time;
  position: relative;
  padding: 8% 40%;
  background-color: #262626;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.5s;
}

section .events ul li:hover .time {
  background-color: #e91e63;
}

section .events ul li .time h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 60px;
  line-height: 30px;
}

section .events ul li .time h2 span {
  font-size: 30px;
}

section .events ul li .details {
  grid-area: detail;
  padding: 20px 20px 32px;
  background-color: #fff;
  box-sizing: border-box;
}

section .events ul li .details h3 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

section .events ul li .details p {
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px;
}

section .events ul li .details a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #262626;
  margin-top: 16px;
  font-size: 18px;
  transition: 0.5s;
}

section .events ul li .details a:hover {
  background-color: #e91e63;
  color: #fff;
  border-color: #e91e63;
}
